@charset "utf-8";
/* CSS Document */
*{
    margin: 0px;
    padding: 0px;
}
main {
    display: flex;
}
body {
    background-color: beige;
}
.perfil {
    display: inline-block;
    background-color: rgb(128, 94, 115);
    border-top-right-radius: 700px;
    border-bottom-right-radius: 700px;
    border-bottom-left-radius: 0px;
    margin-top: 50px;
    margin-left: 0px;
    padding: 6px 50px;
    height: 120px;
    text-align: center;
    line-height: 60px;
}
.nombre {
    font-family: "DM Serif Display", serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color:beige;
}
.perfil h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    color: rgb(245, 245, 220);
}
.columna-izquierda { 
    padding: 30px;
    width: 250px;
    margin: 0px;
    background-color: rgb(128, 94, 115);
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.contacto h3 { 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    color: beige;
    gap: 10px;
    display:flex;
    flex-direction:column;
}
.contacto ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
}
.idiomas h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    color: beige;
}
.idiomas ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
}
.herramientas h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    text-decoration: underline;
    color: beige;
}
.herramientas h4 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: beige; 
}
.herramientas ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
}
.columna-derecha { 
    padding: 20px;
    width: 500px;
    margin: 0px;
    text-align:left;
    background-color:beige;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.Introduccion h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.Introduccion p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.perfil-profesional h3 { 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.perfil-profesional p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115); 
}
.experiencia-laboral h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.experiencia-laboral ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    list-style: none;
}
footer {
    background-color: rgb(128, 94, 115);
    height: 50px;
    text-align: center;
}
footer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: normal;
    padding: 20px;
    color:beige
}