@charset "utf-8";
/* CSS Document */
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: beige;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 40px auto;
    background-color:beige
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
main {
    display: flex;
    margin: 20 auto;
    padding: 10px;
}
.perfil {
    display: inline-block;
    background-color: rgb(128, 94, 115);
    border-radius: 700px;
    margin: 30px;
    padding: 6px 50px;
    height: 120px;
    text-align: center;
    line-height: 60px;
}
.nombre {
    font-family: "DM Serif Display", serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color:beige;
}
.perfil h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    color: rgb(245, 245, 220);
}
/*columnas izquierda*/ 
.contacto {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(128, 94, 115);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contacto h3 { 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px beige solid;
    color: beige;
    gap: 10px;
    display:flex;
    flex-direction:column;
}
.contacto ul li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.idiomas {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(128, 94, 115);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.idiomas h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px beige solid;
    color: beige;
}
.idiomas ul li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
    gap: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.herramientas {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(128, 94, 115);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.herramientas h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px beige solid;
    color: beige;
}
.herramientas h4 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: beige; 
}
.herramientas ul li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
/*columnas derecha*/ 
.columna-derecha { 
    padding: 30px;
    width: 500px;
    margin: 20px;
    text-align:left;
    background-color:beige;
    gap: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}
.Introduccion h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.Introduccion p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    margin: 8px;
}
.perfil-profesional h3 { 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.perfil-profesional p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115); 
    margin: 8px;
}
.experiencia-laboral h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.experiencia-laboral ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    list-style: none;
    margin: 8px;
}
.educación h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}
.educación p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    margin: 8px;
}
/*footer*/ 
footer {
    background-color: rgb(128, 94, 115);
    height: 50px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin-top: 30px;
}
footer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    color:beige
}