@charset "utf-8";
/* CSS Document */
*{
    margin: 0px;
    padding: 0px;
}

html{
    background-color: rgb(247, 240, 244);
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 40px auto;
    background-color:beige;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    margin: 20 auto;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
}

.foto-perfil {
    height: 300px;
    width: auto;
    margin: 10px;
}

.perfil {
    display: inline-block;
    background-color: rgb(128, 94, 115);
    border-radius: 700px;
    margin-top: 80px;
    margin-left: 50px;
    padding: 6px 50px;
    height: 120px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
}

.nombre {
    font-family: "DM Serif Display", serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    color:beige;
}

.perfil h2 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
    font-style: normal;
    color: rgb(245, 245, 220);
}

/*columna izquierda*/ 

.columna-izquierda {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.columna-izquierda section {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
    border-radius: 12px;
    padding: 30px;
    margin: 20px;
    background-color: rgb(128, 94, 115);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.columna-izquierda h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    border-bottom: 1px beige solid;
    color: beige;
    gap: 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.columna-izquierda h4 {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    color: beige; 
}

.columna-izquierda ul li {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: beige;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.idiomas ul li {
    flex-direction: column;
    align-items: flex-start;
}

/*columna derecha*/ 

.columna-derecha { 
    padding: 35px 20px 20px 25px;
    width: 500px;
    margin: 20px;
    text-align:left;
    background-color:beige;
    gap: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.columna-derecha h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    color: rgb(128, 94, 115);
}

.columna-derecha p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    margin: 8px;
}

.experiencia-laboral ul {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: rgb(128, 94, 115);
    list-style: none;
    margin: 8px;
}

/*footer*/ 

footer {
    background-color: rgb(128, 94, 115);
    height: 50px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.40);
    border-radius: 12px;
    margin-top: 30px;
}

footer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
    color:beige
}